{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}
{% load static %}

<div class="bg-neutral-300 px-3 py-2 flwex justify-center">
    <div class="rounded-full">
        <img class="userIconOutlineNormal w-28 h-28 p-0.5 object-cover sm:w-24 sm:h-24 md:w-28 md:h-28" src="{% static 'images/dp.png' %}" alt="Profile Image">
    </div>
    
    <div class="block">
        <input readonly type="text" class="block border border-gray-300 rounded-l py-2 px-4 focus:outline-none focus:border-blue-500" placeholder="Name" value="aslam">
        <input readonly type="text" class="block border border-gray-300 rounded-r py-2 px-4 focus:outline-none focus:border-blue-500" placeholder="Username" value="">
        <span class="bg-gray-200 hover:bg-gray-300 cursor-pointer py-2 px-4 rounded-r" title="Edit">
          <i class="fas fa-pencil-alt"></i>
        </span>
      </div>
</div>

{% endblock %}