{% extends "index.html" %}
{% load static %}
{% block roomLobby %}
<div id="data-container" 
  data-user-name="{{ user.username|escapejs }}"
  data-user-profile-image="{{user.profile_image.url}}">
</div>
<div class="flex flex-col w-full h-full">
    <div class="text-white font-semibold sticky text-xl">
      <p id="roomName">#{{roomName}}</p>
    </div>
    <div class="flex mt-3 max-h-48 md:max-h-56 lg:max-h-72 h-fit gap-4 overflow-auto hide-scrollbar grid lg:grid-cols-10 md:grid-cols-8 grid-cols-5 rounded-2xl" id="loby">
      {% for userIcon in noIcons %}
        <div name="userIcon" class="flex flex-wrap h-fit relative justify-center">
          <img class="userIconOutline w-16 h-16 p-0.5 object-cover sm:w-16 sm:h-16 md:w-20 md:h-20" src="{% static 'images/dp.png' %}" alt="Profile Image" />
          <div class="absolute rounded-2xl px-2 h-fit w-fit bg-black flex justify-center items-center opacity-25 self-end mb-2 hidden" id="userMenuBtn">
            <i class="fas fa-ellipsis-h text-2xl text-white"></i>
          </div>
          <div name="muteIcon" class="muteIcon absolute my-[28%] rounded-full hidden">
            <i class="fa-solid fa-volume-xmark text-4xl text-red-600"></i>
          </div>
          <div name="userMenu" class="absolute left-12 bottom-0 w-fit opacity-80 z-50 bg-[#181717] rounded-xl shadow-lg hidden">
            <ul class="">
              <li class="px-2 py-2 hover:bg-gray-900 text-white cursor-pointer bg-[#181717] rounded-lg">Mute</li>
              <li class="px-2 py-2 hover:bg-gray-900 text-white cursor-pointer bg-[#181717] rounded-lg">Kickout</li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-white mt-2 rounded-xl w-full flex-grow flex flex-col" id="chatSection">
      <div class="rounded-xl px-2 flex flex-col w-full h-[30rem] md:h-[15.5rem] lg:h-80">
        <div class="flex-grow p-2 overflow-auto hide-scrollbar ">
          <div class="mb-2" id="chatAppendArea">
            <!-- Chat messages go here -->
            {% comment %} <div class="flex items-start mb-4">
              <img class="w-10 h-10 rounded-full object-cover mr-4" src="{% static 'images/dp.png' %}" alt="Profile Image" />
              <div>
                <p class="text-sm font-semibold">User Name &nbsp;<span class="font-thin text-xs">08:19</span></p>
                <p class="text-sm">This is a sample message.</p>
              </div>
            </div>
             {% endcomment %}
          </div>
        </div>
        <div class="flex-none mt-2">
          <form class="flex items-center">
            <input id="msgTextInput" class="w-full bg-transparent text-white rounded-full outline-none py-1.5" type="text" placeholder="Type your message..." />
            <input type="submit" id="sendTextMsg" class="bg-gray-500 text-white rounded-full ml-2 px-4 py-1.5 hover:bg-gray-700" value="Send">
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/rooms.js' %}"></script>
{% endblock roomLobby %}