.vercel
.vscode
.env
node_modules
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
_pycache_
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzp
*.pyzpz
*.pyzpzp
*.pyzpzpz
*.pyzpzpzp
migrations
